* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	font-size: 62.5%;
	background-color: #000;
	overflow-x: hidden;
}
p,
h1 {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-transform: uppercase;
}
div {
	/* overflow: hidden; */
}
.page-wrapper {
	width: 100vw;
	min-height: 100vh;
	background-color: transparent;
}
/*============Header===========  */
.header {
	width: 100%;
	padding: 6.4rem 21rem;
	
}
.top-nav {
	width: 100%;
	height: 7rem;
	position: relative;
	overflow: hidden;
}
.top-nav-animate-container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.top-nav__logo {
	width: 19.2rem;
	height: 7rem;
}
.top-nav__logo > img {
}
.top-nav__link {
	display: flex;
	align-items: center;
	width: 30%;
}
.top-nav__link > ul {
	display: flex;
	flex-direction: row;
	width: 100%;

	justify-content: space-between;
}
.top-nav__link > ul > li {
	list-style: none;
	font-size: 2.5rem;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.top-nav__link > li + li {
	margin-right: 2rem;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
}
/*============Intro===========  */
.intro-area {
	width: 100%;
	height: calc(100vh - 19.8rem);
	background-color: #000;	
	padding: 6.4rem 21rem;
	
}
.top-nav__link > ul > li::after {
	content: '';
	position: absolute;
	width: 0;
	height: 4px;
	background-color: #fff;
	bottom: -8px;
	left: 0;
	
	
}
.top-nav__link > ul > li:hover::after {
	
	width: 100%;
	
	transition: width .3s ease-in-out ;
	
}


.intro-area__wrapper {
	display: grid;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 0.5fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 5rem;
	grid-column-gap: 2rem;
	overflow: hidden;
}
.hero-title {
	grid-column: 1/3;
	grid-row: 1/2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	justify-content: space-between;
}
.sub-hero-title {
	grid-column: 1/3;
	grid-row: 2/3;
}
.sub-hero-title-animate-container{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.hero-logo {
	grid-column: 3/5;
	grid-row: 1/3;
	position: relative;
}
.hero-logo {
	margin: 0;
	padding: 0;
}
.hero-logo > img {
	/* width: 100%;
	height: auto; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.hero-title1,
.hero-title2 {
	font-size: 6rem;
	font-weight: bold;
	padding: 0;
	color: #f7941d;
	position: relative;
}

.hero-title3 {
	font-size: 6rem;
	font-weight: bold;
	color: #fff;
	position: relative;
}
.hero-t-1,.hero-t-2,.hero-t-3 {
	
	position: absolute;	
	
}
.sub1 {
	font-size: 4rem;
	color: #fff;
	/* position: absolute; */

}
.sub1>p+p{
	position: absolute;
}
.sub2 {
	display: flex;
	flex-direction: column;
	padding-left: 6rem;
	color: #fff;
	font-size: 3rem;
	position: absolute;
}
.sub2 > p {

}


@keyframes hoverAnimate {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}

/*============Project===========  */
.project-area{
	position: relative;
}
.horizontal-gr {
	width: 200vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.prj1 {
	width: 100%;
	height: 100vh;
	background-color: yellow;
	/* position: absolute;
	top: 0;
	z-index: 999;
	right: -100%; */

}
.prj2{
	background-color: red;
	z-index: 99;
}
.prj2,
.prj3 {
	width: 100%;
	height: 100vh;
	background-color: transparent;
	position: relative;
	/* background-color: #f7941d; */
	overflow: hidden;
}
.bg-container {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url('./images/lotr.png');
	padding: 17.7rem 14rem;

	/* display: grid;
	grid-template-rows: repeat(1fr, 6);
	grid-template-columns: 4fr 6fr;
	grid-column-gap: 14.8rem; */
}

.layer {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: inset 10px 0px 30px 30px #000;
	z-index: 1;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1.5fr 2fr 0.5fr;
	grid-template-columns: 4fr 6fr;
	grid-column-gap: 14.8rem;
	padding: 17.7rem 14rem;
}


.lord-poster {
	grid-column: 1/2;
	grid-row: 1/7;
	position: relative;
	overflow: hidden;
}
.lord-poster > img {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 2;
	bottom: 0;
	left: 0;
}
.lord-title {
	position: relative;
	grid-column: 2/3;
	grid-row: 4/5;
	z-index: 2;
}



.lord-title > img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: auto;
	height: 100%;
	
	
}

.lord-sub-title {
	position: relative;
	grid-column: 2/3;
	grid-row: 5/6;
	max-height: 100%;
	z-index: 2;
	padding: 2.5rem 0;
}
.lord-sub-ani{
	position: absolute;
	color: #fff;
	font-size: 2.4rem;
	line-height-step: 1.5rem;
	text-transform: none;
}




.view-btn {
	grid-column: 2/3;
	grid-row: 6/7;
	position: relative;
}
.view-btn-ani 
{
	width: 22.1rem;
	height: 100%;
	background-color: #f7941d;
	color: #fff;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: absolute;
}
.view-btn-ani > p {
	font-size: 2.4rem;
	font-weight: bold;
}

.prj2-wrapper {
	width: 100%;
	height: 100%;
	padding-top: 5.5rem;
	padding-bottom: 5.5rem;
	padding-right: 13.4rem;
	display: grid;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: 6fr 0.7fr 0.4fr;
	grid-column-gap: 7rem;
	grid-row-gap: 2.2rem;
}
.film-img {
	grid-column: 1/2;
	grid-row: 1/4;
	width: 100%;
	position: relative;
}
.film-img > img {
	position: absolute;
	height: 100%;
	transform-origin: right;
	top: 0;
	right: 0;
	z-index: 999;
}
.ani-poster {
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	justify-content: flex-start;
	position: relative;
}
.ani-poster > img {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: auto;
}

.film-subtitle {
	grid-column: 2/3;
	grid-row: 2/3;
	position: relative;
}
.film-subtitle > div {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	
}
.film-subtitle> div > p {
	font-size: 2.5rem;
	color: #fff;
	font-weight: 400;
	text-transform: none;
	
}
.film-btn-container{
	grid-column: 2/3;
	grid-row: 3/4;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
}
.film-btn {
	
	width: 22.1rem;
	height: 5.2rem;
	background-color: #f7941d;
	color: #fff;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
.film-btn > p {
	font-size: 2.5rem;
	font-weight: bold;
}
.prj3 {
	margin-top: 8.5rem;
}
.prj3-wrapper {
	width: 100%;
	height: 100%;
	padding-left: 13.4rem;
	background-color: #000;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.img-container {
	width: 100%;
	height: 78rem;
	display: flex;
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
}
.prj3-img1 {
	z-index: 1;
}
.prj3-img2 {
	height: 90%;
	width: auto;
	position: absolute;
	top: 5%;
	right: -10rem;
	z-index: 0;
}
.prj3-sub-title {
	height: 5.7rem;
	margin-top: 2.7rem;
	margin-bottom: 2.7rem;
	overflow: hidden;
}
.prj3-sub-title > p {
	font-size: 2.5rem;
	color: #fff;

	text-transform: none;
}
.prj3-btn {
	width: 22.1rem;
	height: 5.2rem;
	background-color: #f7941d;
	color: #fff;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.prj3-btn > p {
	font-size: 2.5rem;
	font-weight: bold;
}
/*============Another Project===========  */
.another-area {
	width: 100%;
	height: 260vh;
	margin-top: 8.5rem;
	padding-left: 22rem;
	padding-right: 22rem;
	overflow: hidden;
}
.prj-name {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.orange-text {
	font-size: 11rem;
	font-weight: bold;
	color: #f7941d;
}
.and-letter {
	margin: 0;
	padding: 0 2rem;
	font-size: 20rem;
	font-weight: bold;
	color: #fff;
}
.gr-prj {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 3fr;
	grid-column-gap: 3.4rem;
	grid-row-gap: 8.6rem;
}
.gr-prj > img {
	width: 100%;
	height: auto;
}
.mega-logo {
	grid-row: 1/4;
	grid-column: 1/4;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mega-logo > img {
	height: 100%;
	width: auto;
}
.pet-logo {
	grid-row: 1/2;
	grid-column: 4/5;
	overflow: hidden;
}
.pet-logo > img {
	height: 100%;
	width: auto;
}
.ds-idea {
	grid-row: 2/3;
	grid-column: 4/5;
	overflow: hidden;
}
.ds-idea > img {
	height: 100%;
	width: auto;
}
.bike {
	grid-row: 3/4;
	grid-column: 4/5;
	overflow: hidden;
}
.bike > img {
	height: 100%;
	width: auto;
}
.octofa {
	grid-row: 4/5;
	grid-column: 1/5;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: url('./images/ID7.png');
	background-position: center; */
}
.octofa > img {
	height: 100%;
	width: auto;
	background-position: center;
}
/*============Vision===========  */
.vision-area {
	width: 100%;
	height: 100vh;
	margin-top: 8.5rem;
	padding: 0 26.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.toptitle {
	display: flex;
}
.toptitle > img {
	width: 28rem;
	height: auto;
}
.seperate {
	width: 4px;
	height: 100%;
	background-color: #fff;
	margin-left: 8rem;
	margin-right: 4rem;
}
.gr-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.gr-title1 {
	color: #f7941d;
	font-weight: bold;
	font-size: 5rem;
}
.gr-title2 {
	color: #fff;
	font-weight: bold;
	font-size: 5rem;
}
.orangeO {
	color: #f7941d;
	padding: 0;
	margin: 0;
	font-size: 4rem;
	display: inline-block;
	font-weight: 300;
}
.quote1 {
	font-size: 4rem;
	color: #fff;
	padding-left: 24rem;
	font-style: italic;
	width: 95%;
	overflow: hidden;
}

.quote2 {
	font-size: 4rem;
	color: #fff;
	padding-left: 24rem;
	font-style: italic;
	width: 95%;
	overflow: hidden;
}
.quote2 > p {
	text-transform: none;
}
/*============About Us===========  */
.about-us-area {
	position: relative;
	margin-top: 8.5rem;
	padding-left: 20rem;
	padding-right: 20rem;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.phong {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
}
.phong > img {
	height: 100%;
	width: auto;
}
.phong-quote {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 10rem;
}
.phong-quote > h1 {
	color: #fff;
	font-weight: 600;
	font-size: 4.5rem;
}
.phong-quote > p {
	color: #fff;
	font-weight: 300;
	font-size: 4rem;
	text-transform: none;
	font-style: italic;
	line-height: 4.5rem;
}
.dinh {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;

	align-items: flex-end;
}
.dinh > img {
	height: 100%;
	width: auto;
}
.dinh-quote {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 10rem;
}
.dinh-quote > h1 {
	color: #fff;
	font-weight: 600;
	font-size: 4.5rem;
}
.dinh-quote > p {
	color: #fff;
	font-weight: 300;
	font-size: 4rem;
	text-transform: none;
	font-style: italic;
	line-height: 4.5rem;
}
.about {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-90%, -60%);
}
.us {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
}
/*============Footer===========  */
.footer {
	width: 100%;
	height: 60vh;
	margin-top: 8.5rem;
	display: flex;
	flex-direction: column;
	padding: 8.5rem 15rem;
	justify-content: center;
	align-items: center;
	border-top: 4px solid #f7941d;
}
.footer > img {
	width: 23rem;
	height: auto;
	margin-bottom: 5rem;
}
.info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.expertise {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
}
.expertise > h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
}
.expertise > p {
	color: #fff;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-left: 3rem;
	text-transform: none;
}

.address {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.address > h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
}
.address > p {
	color: #fff;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-left: 3rem;
	text-transform: none;
}

.contact {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.contact > h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
}
.contact > p {
	color: #fff;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-left: 3rem;
	text-transform: none;
}

.follow {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.follow > h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
}
.follow > p {
	color: #fff;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-left: 3rem;
	text-transform: none;
}
/*============Form===========  */
.form {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 8.5rem;
}
.form > h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}
.email {
	width: 50rem;
	height: 5rem;
	background-color: #000;
	border: 2px solid #fff;
	margin-top: 2rem;
	color: #fff;
	font-size: 3rem;
	border-radius: 1rem;
}
.message {
	width: 50rem;
	height: 40rem;
	background-color: #000;
	border: 2px solid #fff;
	margin-top: 2rem;
	color: #fff;
	font-size: 3rem;
	border-radius: 1rem;
}
.sendbtn {
	width: 21rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7941d;
	color: #fff;
	border-radius: 1rem;
	margin-top: 5rem;
}
.sendbtn > p {
	font-size: 3rem;
}
/*============Responsive===========  */
@media (max-width: 1280px) {
	.intro-area__wrapper {
		grid-row-gap: 4.6rem;
		grid-column-gap: 2.9rem;
	}
	.bg-container{
		padding: 10vh 14rem;
		grid-column-gap: 5.8rem;
	}
	.lord-poster > img {
		height: 100%;
		width: auto;		
	}
	.lord-poster {
		height: 100%;
		overflow: hidden;
	}
	.lord-title > img {
		height: auto;
		width: 100%;
	}
	.prj2-wrapper {
		grid-column-gap: 5rem;
	}
	.ani-poster{
		overflow: hidden;
	}
	.film-subtitle > p {
		font-weight: 400;
	}
	.prj3-wrapper {
		padding: 5vh 0vh 7vh 18vh;
	}
	.prj3-img2 {
		right: -5%;
	}
	.prj3-sub-title {
		height: 15vh;
	}
	.prj3-img1 {
		width: 40%;
		height: fit-content;
	}
	.another-area {
		overflow: hidden;
		padding: 8.5rem 10rem 0rem 10rem;
	}
	.gr-prj{
		grid-row-gap: 2.6rem;
	}
	.octofa{
		position: relative;
	}
	.octofa > img {
		position: absolute;
		top: -20%;

	}
	.vision-area{
		padding: 0 15rem;
	}
	.gr-title1,.gr-title2 {
		font-size: 4rem;
	}
	.toptitle > img {
		width: 13rem;
		height: auto;
	}
	.quote1,.quote2 {
		font-size: 3rem;
	}

	.phong-quote > p , .dinh-quote>p {
		font-size: 2.5rem;
	}
	.about {		
		height: 20vh;
		transform: translate(-50%, -60%);
	}
	.us {
		height: 20vh;
		transform: translate(70%, 15%);
	}
}
@media (max-width:1366px){
	.top-nav__link {
		width: 35%;
	}
	.intro-area {
		padding: 0rem 10rem 0rem 21rem;
	}
	.intro-area__wrapper {
		grid-row-gap: 7.6rem;
	}
	.bg-container {
		padding: 8rem 16rem 8rem 16rem;
		grid-column-gap: 9.8rem;
	}
	.lord-poster{
		position: relative;
	}
	.lord-poster > img {
		height: 100%;
		width: auto;
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.lord-title{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}
	.prj2-wrapper{
		padding: 7rem 10rem 7rem 0rem;
	}
	.ani-poster{
		overflow: hidden;
	}
	.film-img{
		overflow: hidden;
	}
	.film-subtitle>p{
		font-weight: 400;
	}
	.prj3-wrapper{
		padding: 5rem 0rem 5rem 14rem;
	}

	.img-container {
		height: 80%;
	}
	.prj3-img2 {
		height: 95%;
		right: 0rem;
		top: 2.5%;		
	}
	.orange-text {
		font-size: 7rem;
	}
	.and-letter {
		font-size: 10rem;
	}
	.gr-prj {
		grid-row-gap: 3rem;
	}
	.quote1{
		font-size: 3rem;
	}	
	.quote2{
		font-size: 3rem;
	}
	.toptitle > img {
		width: 15rem;
	}
	.gr-title1{
		font-size: 4rem;
	}
	.gr-title2{
		font-size: 4rem;
	}
	.vision-area {
		padding: 11rem 17rem 5rem;
	}
	.about-us-area{
		padding: 10rem 20rem;
	}

	.phong-quote,.dinh-quote{
		padding-left: 5rem;
	}
	.phong-quote > h1 {
		font-size: 3rem;
		
	}
	.dinh-quote > h1 {
		font-size: 3rem;
	}
	.phong-quote > p {
		font-size: 2rem;
		line-height: 3rem;
	}
	.dinh-quote > p {
		font-size: 2rem;
		line-height: 3rem;
	}
	.about{
		height: 12rem;
	}
	.us{
		height: 12rem;
	}


}
@media (max-height:900px){
	html,body {
		font-size:45% ;
	}
	.header{
		padding: 4rem 15rem;
	}
	.intro-area{
		width: 100%;
		height: calc(100vh - 15rem);
	}
	.top-nav__logo > img {
		height: 7rem;
	}
}
